* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #030a24;
    color: white;

}

header nav {
    background-color: rgba(11, 109, 183, 0.544);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

header nav {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form {
    display: flex;
    justify-content: center;

}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

form button[type="submit"] {
    background-color: rgb(238, 13, 13);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover,
.recipe button:hover {
    background-color: rgb(153, 34, 34);
}

/* Main Section CSS Styling */
.recipe-container {
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
    place-items: center;
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 24px;
    margin: 5px;
}

.recipe p {
    font-size: 20px;
    color: rgb(33, 32, 32);
    margin-block: 5px;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgb(238, 13, 13);
    text-align: center;
}

.recipe {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    color: black;
    box-shadow: 0 5px 10px rgba(11, 109, 183, 0.544), -5px -5px 10px rgba(11, 109, 183, 0.544);
    cursor: pointer;
    max-width: 350px;
}

/* Recipe Details */
.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(219, 211, 226);
    cursor: pointer;
}

.nav-logo {
    position: relative;
    top: 0px;
    left: 10px;
    padding: 2px;
}

/* .recipe-details {
    font-size: 24px;
    cursor: pointer;
} */

/* Responsive Code */
@media screen and (max-width:600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80%;
        margin-top: 20px;
    }

    /* header nav div{
        flex-direction: column;
        width: 20%;
        padding-left: ;
    } */

}